**Edge-IIoTset Dataset Exploration and Preprocessing**

In [ ]:
import itertools
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

sns.set() # set seaborn to default settings

**Import the data into a pandas data-frame and inspect itâ€™s properties.**

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/DNN-EdgeIIoT-dataset.csv', low_memory=False) 
df.shape # (2219201, 63)
df.head()

,frame.time,ip.src_host,ip.dst_host,arp.dst.proto_ipv4,arp.opcode,arp.hw.size,arp.src.proto_ipv4,icmp.checksum,icmp.seq_le,icmp.transmit_timestamp,...,mqtt.proto_len,mqtt.protoname,mqtt.topic,mqtt.topic_len,mqtt.ver,mbtcp.len,mbtcp.trans_id,mbtcp.unit_id,Attack_label,Attack_type
0,2021 11:44:10.081753000,192.168.0.128,192.168.0.101,0,0.0,0.0,0,0.0,0.0,0.0,...,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0,Normal
1,2021 11:44:10.162218000,192.168.0.101,192.168.0.128,0,0.0,0.0,0,0.0,0.0,0.0,...,4.0,MQTT,0,0.0,4.0,0.0,0.0,0.0,0,Normal
2,2021 11:44:10.162271000,192.168.0.128,192.168.0.101,0,0.0,0.0,0,0.0,0.0,0.0,...,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0,Normal
3,2021 11:44:10.162641000,192.168.0.128,192.168.0.101,0,0.0,0.0,0,0.0,0.0,0.0,...,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0,Normal
4,2021 11:44:10.166132000,192.168.0.101,192.168.0.128,0,0.0,0.0,0,0.0,0.0,0.0,...,0.0,0,Temperature_and_Humidity,24.0,0.0,0.0,0.0,0.0,0,Normal

**The data is in tabular form, with 2219201 entries, each having 63 distinct attributes.**

In [ ]:
# let's list all the columns
columns = list(df.columns)
columns

['frame.time',
 'ip.src_host',
 'ip.dst_host',
 'arp.dst.proto_ipv4',
 'arp.opcode',
 'arp.hw.size',
 'arp.src.proto_ipv4',
 'icmp.checksum',
 'icmp.seq_le',
 'icmp.transmit_timestamp',
 'icmp.unused',
 'http.file_data',
 'http.content_length',
 'http.request.uri.query',
 'http.request.method',
 'http.referer',
 'http.request.full_uri',
 'http.request.version',
 'http.response',
 'http.tls_port',
 'tcp.ack',
 'tcp.ack_raw',
 'tcp.checksum',
 'tcp.connection.fin',
 'tcp.connection.rst',
 'tcp.connection.syn',
 'tcp.connection.synack',
 'tcp.dstport',
 'tcp.flags',
 'tcp.flags.ack',
 'tcp.len',
 'tcp.options',
 'tcp.payload',
 'tcp.seq',
 'tcp.srcport',
 'udp.port',
 'udp.stream',
 'udp.time_delta',
 'dns.qry.name',
 'dns.qry.name.len',
 'dns.qry.qu',
 'dns.qry.type',
 'dns.retransmission',
 'dns.retransmit_request',
 'dns.retransmit_request_in',
 'mqtt.conack.flags',
 'mqtt.conflag.cleansess',
 'mqtt.conflags',
 'mqtt.hdrflags',
 'mqtt.len',
 'mqtt.msg_decoded_as',
 'mqtt.msg',
 'mqtt.msgtype',
 'mqtt.proto_len',
 'mqtt.protoname',
 'mqtt.topic',
 'mqtt.topic_len',
 'mqtt.ver',
 'mbtcp.len',
 'mbtcp.trans_id',
 'mbtcp.unit_id',
 'Attack_label',
 'Attack_type']

**Information About Data**

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2219201 entries, 0 to 2219200
Data columns (total 63 columns):
 #   Column                     Dtype
---  ------                     -----
 0   frame.time                 object
 1   ip.src_host                object
 2   ip.dst_host                object
 3   arp.dst.proto_ipv4         object
 4   arp.opcode                 float64
 5   arp.hw.size                float64
 6   arp.src.proto_ipv4         object
 7   icmp.checksum              float64
 8   icmp.seq_le                float64
 9   icmp.transmit_timestamp    float64
 10  icmp.unused                float64
 11  http.file_data             object
 12  http.content_length        float64
 13  http.request.uri.query     object
 14  http.request.method        object
 15  http.referer               object
 16  http.request.full_uri      object
 17  http.request.version       object
 18  http.response              float64
 19  http.tls_port              float64
 20  tcp.ack                    float64
 21  tcp.ack_raw                float64
 22  tcp.checksum               float64
 23  tcp.connection.fin         float64
 24  tcp.connection.rst         float64
 25  tcp.connection.syn         float64
 26  tcp.connection.synack      float64
 27  tcp.dstport                float64
 28  tcp.flags                  float64
 29  tcp.flags.ack              float64
 30  tcp.len                    float64
 31  tcp.options                object
 32  tcp.payload                object
 33  tcp.seq                    float64
 34  tcp.srcport                object
 35  udp.port                   float64
 36  udp.stream                 float64
 37  udp.time_delta             float64
 38  dns.qry.name               float64
 39  dns.qry.name.len           object
 40  dns.qry.qu                 float64
 41  dns.qry.type               float64
 42  dns.retransmission         float64
 43  dns.retransmit_request     float64
 44  dns.retransmit_request_in  float64
 45  mqtt.conack.flags          object
 46  mqtt.conflag.cleansess     float64
 47  mqtt.conflags              float64
 48  mqtt.hdrflags              float64
 49  mqtt.len                   float64
 50  mqtt.msg_decoded_as        float64
 51  mqtt.msg                   object
 52  mqtt.msgtype               float64
 53  mqtt.proto_len             float64
 54  mqtt.protoname             object
 55  mqtt.topic                 object
 56  mqtt.topic_len             float64
 57  mqtt.ver                   float64
 58  mbtcp.len                  float64
 59  mbtcp.trans_id             float64
 60  mbtcp.unit_id              float64
 61  Attack_label               int64
 62  Attack_type                object
dtypes: float64(42), int64(1), object(20)
memory usage: 1.0+ GB

**Letâ€™s see how many unique values are there in each column.**

In [ ]:
df.nunique(axis=0)

frame.time            2206364
ip.src_host            137167
ip.dst_host             52425
arp.dst.proto_ipv4          9
arp.opcode                  3
                       ...
mbtcp.len                   8
mbtcp.trans_id            151
mbtcp.unit_id               6
Attack_label                2
Attack_type                15
Length: 63, dtype: int64

**Now, inspect for NaNs in the data.**

In [ ]:
df.isna().sum()

frame.time            0
ip.src_host           0
ip.dst_host           0
arp.dst.proto_ipv4    0
arp.opcode            0
                     ..
mbtcp.len             0
mbtcp.trans_id        0
mbtcp.unit_id         0
Attack_label          0
Attack_type           0
Length: 63, dtype: int64

In [ ]:
df.isnull().values.any()   #No null values in dataset

False

**Letâ€™s see how many duplicate entries are there and drop them if there are any.**

In [ ]:
# find total duplicate entries and drop them if any
print(f'Total duplicate rows: {df.duplicated().sum()}')

Total duplicate rows: 815

In [ ]:
# drop duplicate rows if any
df = df[~df.duplicated()]

In [ ]:
df.shape

(2218386, 63)

In [ ]:
print(f'total duplicate rows: {df.duplicated().sum()}')

total duplicate rows: 0

In [ ]:
df.head()

,frame.time,ip.src_host,ip.dst_host,arp.dst.proto_ipv4,arp.opcode,arp.hw.size,arp.src.proto_ipv4,icmp.checksum,icmp.seq_le,icmp.transmit_timestamp,...,mqtt.proto_len,mqtt.protoname,mqtt.topic,mqtt.topic_len,mqtt.ver,mbtcp.len,mbtcp.trans_id,mbtcp.unit_id,Attack_label,Attack_type
0,2021 11:44:10.081753000,192.168.0.128,192.168.0.101,0,0.0,0.0,0,0.0,0.0,0.0,...,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0,Normal
1,2021 11:44:10.162218000,192.168.0.101,192.168.0.128,0,0.0,0.0,0,0.0,0.0,0.0,...,4.0,MQTT,0,0.0,4.0,0.0,0.0,0.0,0,Normal
2,2021 11:44:10.162271000,192.168.0.128,192.168.0.101,0,0.0,0.0,0,0.0,0.0,0.0,...,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0,Normal
3,2021 11:44:10.162641000,192.168.0.128,192.168.0.101,0,0.0,0.0,0,0.0,0.0,0.0,...,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0,Normal
4,2021 11:44:10.166132000,192.168.0.101,192.168.0.128,0,0.0,0.0,0,0.0,0.0,0.0,...,0.0,0,Temperature_and_Humidity,24.0,0.0,0.0,0.0,0.0,0,Normal

**Remove insignificant columns from data frame**

In [ ]:
from sklearn.utils import shuffle
drop_columns = ["frame.time", "ip.src_host", "ip.dst_host", "arp.src.proto_ipv4","arp.dst.proto_ipv4", 
                "http.file_data","http.request.full_uri","icmp.transmit_timestamp",
                "http.request.uri.query", "tcp.options","tcp.payload","tcp.srcport",
                "tcp.dstport", "udp.port", "mqtt.msg", "Attack_label"]

df.drop(drop_columns, axis=1, inplace=True)
df.dropna(axis=0, how='any', inplace=True)
df.drop_duplicates(subset=None, keep="first", inplace=True)
df = shuffle(df)
df.isna().sum()
df.head()

,arp.opcode,arp.hw.size,icmp.checksum,icmp.seq_le,icmp.unused,http.content_length,http.request.method,http.referer,http.request.version,http.response,...,mqtt.msgtype,mqtt.proto_len,mqtt.protoname,mqtt.topic,mqtt.topic_len,mqtt.ver,mbtcp.len,mbtcp.trans_id,mbtcp.unit_id,Attack_type
1860485,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Password
1526476,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,Normal
1796404,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,DDoS_TCP
143399,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,Normal
859515,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,Normal

In [ ]:
df.shape

(1909671, 47)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1909671 entries, 1860485 to 1293281
Data columns (total 47 columns):
 #   Column                     Dtype
---  ------                     -----
 0   arp.opcode                 float64
 1   arp.hw.size                float64
 2   icmp.checksum              float64
 3   icmp.seq_le                float64
 4   icmp.unused                float64
 5   http.content_length        float64
 6   http.request.method        object
 7   http.referer               object
 8   http.request.version       object
 9   http.response              float64
 10  http.tls_port              float64
 11  tcp.ack                    float64
 12  tcp.ack_raw                float64
 13  tcp.checksum               float64
 14  tcp.connection.fin         float64
 15  tcp.connection.rst         float64
 16  tcp.connection.syn         float64
 17  tcp.connection.synack      float64
 18  tcp.flags                  float64
 19  tcp.flags.ack              float64
 20  tcp.len                    float64
 21  tcp.seq                    float64
 22  udp.stream                 float64
 23  udp.time_delta             float64
 24  dns.qry.name               float64
 25  dns.qry.name.len           object
 26  dns.qry.qu                 float64
 27  dns.qry.type               float64
 28  dns.retransmission         float64
 29  dns.retransmit_request     float64
 30  dns.retransmit_request_in  float64
 31  mqtt.conack.flags          object
 32  mqtt.conflag.cleansess     float64
 33  mqtt.conflags              float64
 34  mqtt.hdrflags              float64
 35  mqtt.len                   float64
 36  mqtt.msg_decoded_as        float64
 37  mqtt.msgtype               float64
 38  mqtt.proto_len             float64
 39  mqtt.protoname             object
 40  mqtt.topic                 object
 41  mqtt.topic_len             float64
 42  mqtt.ver                   float64
 43  mbtcp.len                  float64
 44  mbtcp.trans_id             float64
 45  mbtcp.unit_id              float64
 46  Attack_type                object
dtypes: float64(39), object(8)
memory usage: 699.3+ MB

**Visulalize the colums with objects.**

In [ ]:
df['http.request.method'].value_counts()

0.0         1658469
0            219116
GET           30473
POST           1212
TRACE           387
OPTIONS           6
PROPFIND          4
PUT               2
SEARCH            2
Name: http.request.method, dtype: int64

In [ ]:
df['http.referer'].value_counts()

0.0                                                                     1796035
0                                                                        113066
127.0.0.1                                                                   383
() { _; } >_[$($())] { echo 93e4r0-CVE-2014-6278: true; echo;echo; }        185
TESTING_PURPOSES_ONLY                                                         2
Name: http.referer, dtype: int64

In [ ]:
df['http.request.version'].value_counts()

0.0                                                                                1658111
0                                                                                   219474
HTTP/1.1                                                                             28681
HTTP/1.0                                                                              3382
-a HTTP/1.1                                                                              4
Src=javascript:alert('Vulnerable')><Img Src=\" HTTP/1.1                                  4
-al&ABSOLUTE_PATH_STUDIP=http://cirt.net/rfiinc.txt?? HTTP/1.1                           3
script>alert(1)/script><\" HTTP/1.1                                                      3
-al&_PHPLIB[libdir]=http://cirt.net/rfiinc.txt?? HTTP/1.1                                2
> HTTP/1.1                                                                               2
/etc/passwd|?data=Download HTTP/1.1                                                      2
name=a><input name=i value=XSS>&lt;script>alert('Vulnerable')</script> HTTP/1.1          2
By Dr HTTP/1.1                                                                           1
Name: http.request.version, dtype: int64

In [ ]:
df['dns.qry.name.len'].value_counts()

0                         1362163
0.0                        545446
0.debian.pool.ntp.org         450
3.debian.pool.ntp.org         448
2.debian.pool.ntp.org         444
1.debian.pool.ntp.org         443
1.0                           227
raspberrypi.local              38
_googlecast._tcp.local          6
null-null.local                 6
Name: dns.qry.name.len, dtype: int64

In [ ]:
df['mqtt.conack.flags'].value_counts()

0             1280941
0.0            545673
0x00000000      83017
1574358             9
1574359             9
1461383             4
1461384             4
1461589             3
1461591             3
1461074             2
1471198             2
1471199             2
1461073             2
Name: mqtt.conack.flags, dtype: int64

In [ ]:
df['mqtt.protoname'].value_counts()

0       1280980
0.0      545673
MQTT      83018
Name: mqtt.protoname, dtype: int64

In [ ]:
df['mqtt.topic'].value_counts()

0                           1280983
0.0                          545673
Temperature_and_Humidity      83015
Name: mqtt.topic, dtype: int64

**Apply Dummy Encoding for Text**

In [ ]:
import numpy as np

from sklearn.model_selection import train_test_split

from sklearn.preprocessing import StandardScaler

from sklearn import preprocessing

def encode_text_dummy(df, name):

    dummies = pd.get_dummies(df[name])

    for x in dummies.columns:

        dummy_name = f"{name}-{x}"

        df[dummy_name] = dummies[x]

    df.drop(name, axis=1, inplace=True)

encode_text_dummy(df,'http.request.method')

encode_text_dummy(df,'http.referer')

encode_text_dummy(df,"http.request.version")

encode_text_dummy(df,"dns.qry.name.len")

encode_text_dummy(df,"mqtt.conack.flags")

encode_text_dummy(df,"mqtt.protoname")

encode_text_dummy(df,"mqtt.topic")

In [ ]:
df.head()

,arp.opcode,arp.hw.size,icmp.checksum,icmp.seq_le,icmp.unused,http.content_length,http.response,http.tls_port,tcp.ack,tcp.ack_raw,...,mqtt.conack.flags-1471198,mqtt.conack.flags-1471199,mqtt.conack.flags-1574358,mqtt.conack.flags-1574359,mqtt.protoname-0,mqtt.protoname-0.0,mqtt.protoname-MQTT,mqtt.topic-0,mqtt.topic-0.0,mqtt.topic-Temperature_and_Humidity
1860485,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.700000e+01,1.093946e+09,...,0,0,0,0,0,1,0,0,1,0
1526476,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000e+00,4.189800e+09,...,0,0,0,0,1,0,0,1,0,0
1796404,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.069571e+09,1.069571e+09,...,0,0,0,0,0,1,0,0,1,0
143399,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,...,0,0,0,0,1,0,0,1,0,0
859515,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.900000e+01,1.200409e+09,...,0,0,0,0,1,0,0,1,0,0

In [ ]:
df.shape

(1909671, 96)

**Move Attack_Type at the End**

In [ ]:
cols = list(df.columns.values)
cols.pop(cols.index('Attack_type'))
df = df[cols+['Attack_type']]

In [ ]:
df.head()

,arp.opcode,arp.hw.size,icmp.checksum,icmp.seq_le,icmp.unused,http.content_length,http.response,http.tls_port,tcp.ack,tcp.ack_raw,...,mqtt.conack.flags-1471199,mqtt.conack.flags-1574358,mqtt.conack.flags-1574359,mqtt.protoname-0,mqtt.protoname-0.0,mqtt.protoname-MQTT,mqtt.topic-0,mqtt.topic-0.0,mqtt.topic-Temperature_and_Humidity,Attack_type
1860485,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.700000e+01,1.093946e+09,...,0,0,0,0,1,0,0,1,0,Password
1526476,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000e+00,4.189800e+09,...,0,0,0,1,0,0,1,0,0,Normal
1796404,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.069571e+09,1.069571e+09,...,0,0,0,0,1,0,0,1,0,DDoS_TCP
143399,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,...,0,0,0,1,0,0,1,0,0,Normal
859515,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.900000e+01,1.200409e+09,...,0,0,0,1,0,0,1,0,0,Normal

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1909671 entries, 1860485 to 1293281
Data columns (total 96 columns):
 #   Column                                                                                                Dtype
---  ------                                                                                                -----
 0   arp.opcode                                                                                            float64
 1   arp.hw.size                                                                                           float64
 2   icmp.checksum                                                                                         float64
 3   icmp.seq_le                                                                                           float64
 4   icmp.unused                                                                                           float64
 5   http.content_length                                                                                   float64
 6   http.response                                                                                         float64
 7   http.tls_port                                                                                         float64
 8   tcp.ack                                                                                               float64
 9   tcp.ack_raw                                                                                           float64
 10  tcp.checksum                                                                                          float64
 11  tcp.connection.fin                                                                                    float64
 12  tcp.connection.rst                                                                                    float64
 13  tcp.connection.syn                                                                                    float64
 14  tcp.connection.synack                                                                                 float64
 15  tcp.flags                                                                                             float64
 16  tcp.flags.ack                                                                                         float64
 17  tcp.len                                                                                               float64
 18  tcp.seq                                                                                               float64
 19  udp.stream                                                                                            float64
 20  udp.time_delta                                                                                        float64
 21  dns.qry.name                                                                                          float64
 22  dns.qry.qu                                                                                            float64
 23  dns.qry.type                                                                                          float64
 24  dns.retransmission                                                                                    float64
 25  dns.retransmit_request                                                                                float64
 26  dns.retransmit_request_in                                                                             float64
 27  mqtt.conflag.cleansess                                                                                float64
 28  mqtt.conflags                                                                                         float64
 29  mqtt.hdrflags                                                                                         float64
 30  mqtt.len                                                                                              float64
 31  mqtt.msg_decoded_as                                                                                   float64
 32  mqtt.msgtype                                                                                          float64
 33  mqtt.proto_len                                                                                        float64
 34  mqtt.topic_len                                                                                        float64
 35  mqtt.ver                                                                                              float64
 36  mbtcp.len                                                                                             float64
 37  mbtcp.trans_id                                                                                        float64
 38  mbtcp.unit_id                                                                                         float64
 39  http.request.method-0                                                                                 uint8
 40  http.request.method-0.0                                                                               uint8
 41  http.request.method-GET                                                                               uint8
 42  http.request.method-OPTIONS                                                                           uint8
 43  http.request.method-POST                                                                              uint8
 44  http.request.method-PROPFIND                                                                          uint8
 45  http.request.method-PUT                                                                               uint8
 46  http.request.method-SEARCH                                                                            uint8
 47  http.request.method-TRACE                                                                             uint8
 48  http.referer-() { _; } >_[$($())] { echo 93e4r0-CVE-2014-6278: true; echo;echo; }                     uint8
 49  http.referer-0                                                                                        uint8
 50  http.referer-0.0                                                                                      uint8
 51  http.referer-127.0.0.1                                                                                uint8
 52  http.referer-TESTING_PURPOSES_ONLY                                                                    uint8
 53  http.request.version--a HTTP/1.1                                                                      uint8
 54  http.request.version--al&ABSOLUTE_PATH_STUDIP=http://cirt.net/rfiinc.txt?? HTTP/1.1                   uint8
 55  http.request.version--al&_PHPLIB[libdir]=http://cirt.net/rfiinc.txt?? HTTP/1.1                        uint8
 56  http.request.version-/etc/passwd|?data=Download HTTP/1.1                                              uint8
 57  http.request.version-0                                                                                uint8
 58  http.request.version-0.0                                                                              uint8
 59  http.request.version-> HTTP/1.1                                                                       uint8
 60  http.request.version-By Dr HTTP/1.1                                                                   uint8
 61  http.request.version-HTTP/1.0                                                                         uint8
 62  http.request.version-HTTP/1.1                                                                         uint8
 63  http.request.version-Src=javascript:alert('Vulnerable')><Img Src=\" HTTP/1.1                          uint8
 64  http.request.version-name=a><input name=i value=XSS>&lt;script>alert('Vulnerable')</script> HTTP/1.1  uint8
 65  http.request.version-script>alert(1)/script><\" HTTP/1.1                                              uint8
 66  dns.qry.name.len-0                                                                                    uint8
 67  dns.qry.name.len-0.0                                                                                  uint8
 68  dns.qry.name.len-0.debian.pool.ntp.org                                                                uint8
 69  dns.qry.name.len-1.0                                                                                  uint8
 70  dns.qry.name.len-1.debian.pool.ntp.org                                                                uint8
 71  dns.qry.name.len-2.debian.pool.ntp.org                                                                uint8
 72  dns.qry.name.len-3.debian.pool.ntp.org                                                                uint8
 73  dns.qry.name.len-_googlecast._tcp.local                                                               uint8
 74  dns.qry.name.len-null-null.local                                                                      uint8
 75  dns.qry.name.len-raspberrypi.local                                                                    uint8
 76  mqtt.conack.flags-0                                                                                   uint8
 77  mqtt.conack.flags-0.0                                                                                 uint8
 78  mqtt.conack.flags-0x00000000                                                                          uint8
 79  mqtt.conack.flags-1461073                                                                             uint8
 80  mqtt.conack.flags-1461074                                                                             uint8
 81  mqtt.conack.flags-1461383                                                                             uint8
 82  mqtt.conack.flags-1461384                                                                             uint8
 83  mqtt.conack.flags-1461589                                                                             uint8
 84  mqtt.conack.flags-1461591                                                                             uint8
 85  mqtt.conack.flags-1471198                                                                             uint8
 86  mqtt.conack.flags-1471199                                                                             uint8
 87  mqtt.conack.flags-1574358                                                                             uint8
 88  mqtt.conack.flags-1574359                                                                             uint8
 89  mqtt.protoname-0                                                                                      uint8
 90  mqtt.protoname-0.0                                                                                    uint8
 91  mqtt.protoname-MQTT                                                                                   uint8
 92  mqtt.topic-0                                                                                          uint8
 93  mqtt.topic-0.0                                                                                        uint8
 94  mqtt.topic-Temperature_and_Humidity                                                                   uint8
 95  Attack_type                                                                                           object
dtypes: float64(39), object(1), uint8(56)
memory usage: 699.3+ MB

**Export Complete Preprocessed Dataset**

In [ ]:
df.to_csv('/content/drive/MyDrive/processed_IIoT.csv', encoding='utf-8', index=False)